{% extends "base.html" %}

{% block title %} {{ page_title }} {% endblock %}
{% block content %}
  <div class="col-md-12 mb-4 white-text text-center">
      <h1 class="h1-reponsive text-black text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown">{{ page_title }}</h1>
  </div>
    <div class="container">
    <div class="row col-md-12 mb-4 white-text text-center">
    {% for event in events_list %}
        <div class="col-4">
        <a href="{{ event.one_event_link }}" class="text-dark"  aria-pressed="true"><h4><strong>{{ event.event_name }} </strong></h4></a>
        <p>с {{ event.date_start.strftime('%d.%m.%Y') }} по {{ event.date_finish.strftime('%d.%m.%Y') }}</p>
    </div>   
    {% endfor %}        
    </div>
  </div>
{% endblock %}
