{% extends 'base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <div class='container' style='margin: 0 auto'>
        <div style='margin: 0 auto; max-width: 500px'>
            <div class="col-md-12 mb-4 white-text text-center">
                <h1 class="h1-reponsive text-black text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"><strong>{{ page_title }}</strong></h1>
            </div>
            <form action="{{ url_for('user.process_login') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class='form-group'>
                    {{ form.username.label }}
                    {{ form.username() }}
                </div>
                <div class='from-group'>
                    {{ form.password.label }}
                    {{ form.password() }}
                <div class='form-group form-check'>
                  {{ form.remember_me() }}
                  {{ form.remember_me.label(class_='form-check-label') }}
                </div>
                </div>
                    {{ form.submit() }}
            </form>
        </div>
    </div>
{% endblock %}
