{% extends 'base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <p class="important">
      <div class='container'>
        <h1>{{ page_title }}</h1>
    <div class='row'>
        <div class='col-4'>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
              {% for message in messages %}
                {{ message }}<br>
              {% endfor %}
            </div>
            {% endif %}
          {% endwith %}
            <form action="{{ url_for('user.process_reg') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class='form-group'>
                    {{ form.username.label }}
                    {{ form.username() }}
                </div>
                <div class='form-group'>
                    {{ form.email.label }}
                    {{ form.email() }}
                </div>
                <div class='from-group'>
                    {{ form.password.label }}
                    {{ form.password() }}
                </div>
                <div class='from-group'>
                    {{ form.password2.label }}
                    {{ form.password2() }}
                </div>
                {{ form.submit() }}
            </form>
        </div>
        <div class='col-8'>

        </div>
    </div>
    </div>
    </p>
{% endblock %}