<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Surftravel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"> 
            <i class="fa fa-home" aria-hidden="true"></i> Главная страница</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.register')}}">
            <i class="fa fa-users" aria-hidden="true"></i> Регистрация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.login')}}">
              <i class="fa fa-user" aria-hidden="true"></i> Логин</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-list"></i>
            События
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:rgb(141, 128, 128)">
            <a class="dropdown-item" href="{{ url_for('event.new_event')}}">Создать новое событие</a>
            <a class="dropdown-item" href="{{ url_for('event.event')}}">Все доступные события</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('user.user_subscriptions')}}">Ваши подписки</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <span class="navbar-text">
            {% if current_user.is_authenticated %}
              <h8>{{ 'Вы вошли под именем: ' }}{{ current_user.username }}</h8>
            {% else %}
              <h8>{{ 'Пользователь не авторизован' }}</h8>
            {% endif %} 
      </span>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user.logout')}}">
          <i class="fa fa-sign-out"></i>Выйти</a>
      </li>
    </ul>
    </div>
</nav>
