{% extends 'base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        #mydiv{
          text-align: center;
          position: relative;
          padding: 9rem 400px;
          margin-right: 15px;
          margin-left: 15px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="view" style="background-image: url('../../static/Surf2.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-black-light align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-4 white-text text-right">
            <h1 class="h1-reponsive text-black text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"><strong>Surftravel</strong></h1>
            <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="text-uppercase mb-4 text-black-50 wow fadeInDown" data-wow-delay="0.4s"><strong>surfing & wake & kite</strong></h5>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="container">
      <style>
        body { background: rgb(1, 17, 26); }
      </style>
      <div id="mydiv">
        <form class="form-inline" method="POST" action="search.php">
          <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-dark my-2 my-sm-0" type="submit">Поиск</button>
        </form>
      </div>
    </div>
{% endblock %}